<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <!-- A time/date based rolling appender -->
   <appender name="PENTAHOFILE" class="org.apache.log4j.DailyRollingFileAppender">

      <param name="File" value="/home/sjcj/logs/kettle/pdi.log"/>
      <param name="Append" value="false"/>

      <!-- Rollover at midnight each day -->
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      </layout>
   </appender>

  <appender name="pdi-execution-appender" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="ActiveFileName"  value="/home/sjcj/logs/kettle/pdi.log" />
      <param name="FileNamePattern" value="/home/sjcj/logs/kettle/pdi.%d{yyyy-MM-dd}.log" />
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %m%n"/>
    </layout>
  </appender>

    <appender name="pdi-log-channel-file-appender" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="ActiveFileName"  value="/home/sjcj/logs/kettle/channel.log" />
            <param name="FileNamePattern" value="/home/sjcj/logs/kettle/channel.%d{yyyy-MM-dd}.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%-5p\t[%t]\t%m%n"/>
        </layout>
    </appender>

    <appender name="pdi-log-trans-file-appender" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="ActiveFileName"  value="/home/sjcj/logs/kettle/trans.log" />
            <param name="FileNamePattern" value="/home/sjcj/logs/kettle/trans.%d{yyyy-MM-dd}.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%-5p\t[%t]\t%m%n"/>
        </layout>
    </appender>

    <appender name="pdi-log-step-file-appender" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="ActiveFileName"  value="/home/sjcj/logs/kettle/step.log" />
            <param name="FileNamePattern" value="/home/sjcj/logs/kettle/step.%d{yyyy-MM-dd}.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%-5p\t[%t]\t%m%n"/>
        </layout>
    </appender>
	<!-- 
    <appender name="pdi-log-channel-syslog-appender" class="org.apache.log4j.net.SyslogAppender">
        <param name="SyslogHost" value="10.84.155.127"/>
        <param name="Facility" value="local0"/>
        <param name="FacilityPrinting" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="pdi-channel %d{yyyy-MM-dd HH:mm:ss}\t[%t]\t%-5p\%m%n"/>
        </layout>
    </appender>-->
    <appender name="pdi-log-channel-syslog-appender" class="org.productivity.java.syslog4j.impl.log4j.Syslog4jAppender">
		<param name="Protocol" value="udp"/>
        <param name="SyslogHost" value="10.84.155.126"/>
		<param name="Port" value="514"/>
        <param name="Facility" value="local0"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="pdi-channel %d{yyyy-MM-dd HH:mm:ss}\t[%t]\t%-5p\%m%n"/>
        </layout>
    </appender>
    <appender name="pdi-log-trans-syslog-appender" class="org.productivity.java.syslog4j.impl.log4j.Syslog4jAppender">
		<param name="Protocol" value="udp"/>
        <param name="SyslogHost" value="10.84.155.126"/>
		<param name="Port" value="514"/>
        <param name="Facility" value="local0"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="pdi-trans %d{yyyy-MM-dd HH:mm:ss}\t[%t]\t%-5p\%m%n"/>
        </layout>
    </appender>
    <appender name="pdi-log-step-syslog-appender" class="org.productivity.java.syslog4j.impl.log4j.Syslog4jAppender">
		<param name="Protocol" value="udp"/>
        <param name="SyslogHost" value="10.84.155.126"/>
		<param name="Port" value="514"/>
        <param name="Facility" value="local0"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="pdi-step %d{yyyy-MM-dd HH:mm:ss}\t[%t]\t%-5p\%m%n"/>
        </layout>
    </appender>
	
	
   <!-- Append messages to the console -->
   <appender name="PENTAHOCONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

    <category name="org.apache.hadoop.io.retry">
        <priority value="INFO" />
    </category>

	<category name="org.pentaho.platform.osgi">
		<priority value="INFO" />
	</category>
	
  <category name="org.pentaho.platform.engine.core.system.status">
    <priority value="INFO"/>
  </category>

  <logger name="org.pentaho.di.trans.Trans" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="pdi-execution-appender"/>
  </logger>

  <logger name="org.pentaho.di.job.Job" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="pdi-execution-appender"/>
  </logger>

  <category name="org.pentaho.hadoop.shim.DriverManager">
    <priority value="INFO"/>
  </category>

    <logger name="channel-log" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="pdi-log-channel-file-appender"/>
		<appender-ref ref="pdi-log-channel-syslog-appender"/>
    </logger>
    <logger name="step-log" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="pdi-log-step-file-appender"/>
		<appender-ref ref="pdi-log-step-syslog-appender"/>
    </logger>
    <logger name="trans-log" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="pdi-log-trans-file-appender"/>
		<appender-ref ref="pdi-log-trans-syslog-appender"/>
    </logger>

   <root>
      <priority value="ERROR" />
      <appender-ref ref="PENTAHOCONSOLE"/>
      <!--<appender-ref ref="PENTAHOFILE"/>-->
   </root>

</log4j:configuration>
